{% extends 'base.html' %}
{% block content %}
 <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
    <h2 class="créer-une-critique">Supprimer une critique</h2>
                 <p class="livre-article">Livre/ Article</p>
    <form method="post" enctype="multipart/form-data">
        {{ ticket_form.as_p }}
        {% csrf_token %}
        <button class="button-review" type="submit" >Envoyer</button>
    </form>
            </div>
        </div>
 </div>

{% endblock content %}