{% extends 'base.html' %}
{% block content %}
<div class="text-center">
    <a href="{% url 'create_ticket' %}"><button type="submit " style="width: 12rem;">Demander une critique</button></a>
    <a href="{% url 'create_ticket' %}"><button type="submit" style="width: 12rem;">Créer un critique</button></a>
</div>
    <div class="mx-auto text-center" style="width: 60rem; margin-left: 30px ">
        <br><br>
    {% for ticket in tickets %}
        <div class="card w-75">
          <div class="card-body">
              <h2>{{ ticket.title }}</h2>
              <br><br>
              <p class="card-text">{{ ticket.description }}</p>
          </div>
            <img class="card-img-bottom" src="{{ ticket.image.url }}" alt="Card image cap">
        </div>
    {% endfor %}
{% endblock content %}