{% extends 'base.html' %}
{% block content %}

<div class="container">
        <div class="row justify-content-center">
            <div class="col-6 mt-4">
                <a href="{% url 'create_ticket' %}"><button class="button-critique-flux" type="submit " style="width: 12rem;">Demander une critique</button></a>
                <a href="{% url 'ticket_review' %}"><button class="button-critique-flux" type="submit" style="width: 12rem;">Créer un critique</button></a>
            </div>
        </div>
</div>
        <br><br>
    {% for post in posts %}
            <div class="container-flux">
                <div class="row justify-content-center">
        {% if post.contente_type == "REVIEW" %}
        <div class="col-7 mt-4">
            <div class="card w-75">
              <div class="card-body">
                  <h2 class="text-titre">{{ post.headline }} - review {{ post.rating }}</h2>
                  <h3 class="text-titre"> {{ post.body }} </h3>
                    <div class="card-body">
                        <h4 class="text-titre">Ticket - {{ post.ticket.user }}</h4>
                        <h4 class="text-titre">{{ post.ticket.title }}</h4>
                        <img class="card-img-bottom" src="{{ post.ticket.image.url }}" alt="Card image cap">
                        <a class="button-flux" href="{% url 'response_ticket' post.id %}"><button type="submit " >Créer une critique</button></a>
                        <a class="button-flux" href="{% url 'delete_ticket' post.id %}"><button type="submit " >Supprimer une critique</button></a>
                    </div>
              </div>
            </div>
        </div>

        {% endif %}
    </div>
</div>
    {% endfor %}
{% endblock content %}

    <h2>{{ ticket.title }}</h2>
    <p><a href="{% url 'edit_ticket' ticket_id %}">Modifier le billet</a></p>
    <img src="{{ blog.photo.image.url }}">
    <p>{{ blog.photo.caption }}</p>
    <p>{{ blog.content }}</p>
